[2016-11-19 22:28] franglais125 opened #1 "Credits and License"
Hi @RaphaelRochet !

I am trying to port this to be usable on apt-based distros (Debian, Ubuntu).
I have it working already locally...
I was just wondering how I should modify some files that are copyrighted with your name? What's the procedure for that?

Merci !

[2016-11-20 07:14] RaphaelRochet commented on #1
Simply add a copyright line with year and your name in headers of all files that you modify.

[2016-11-20 14:43] franglais125 commented on #1
Thanks for the info!

[2016-11-20 14:43] #1 closed, assigned to nobody

[2016-12-19 22:32] lucatrv opened #2 "How to show packages upgrade messages in terminal"
Hi, I always like to to read output messages from apt or aptitude when I upgrade packages. I tried to modify the "command to update packages" in "advanced settings" but could not how to open a terminal. I tried for instance to set "xterm -hold -e apt upgrade -y" or "gnome-terminal aptitude", but no terminal is opened. Is there any way to achieve this? For me the best option would be to open a term

[2016-12-26 02:36] franglais125 commented on #2
Hi! I got your email too. I usually reply much faster, you juat caught me travelling and with limited connectivity... I'll look into this when I get back in two weeks. Sorry!
Cheers

[2016-12-26 21:15] lucatrv commented on #2
Hi, thanks for your answer and... sorry for bothering you so much [😊]

Have a good vacation for now!

Cheers

________________________________
Da: franglais125 <notifications@github.com>
Inviato: lunedì 26 dicembre 2016 03.36
A: franglais125/apt-update-indicator
Cc: lucatrv; Author
Oggetto: Re: [franglais125/apt-update-indicator] How to show packages upgrade messages in terminal (#2)

Hi! I got yo

[2016-12-27 22:19] jadenPete commented on #2
Yeah I run Debian Testing and it is **CRUCIAL** that I see the bug lists and changelogs, as well as answer any prompts (not just answer yes every time) and read any messages before upgrading. It would be nice if this would open a terminal and still show the prompt, just to see if everything is alright. Sometimes, unstable packages fall into testing. I heard of one guy who was prompted to uninstall

[2017-01-10 01:28] franglais125 commented on #2
@lucatrv @jadenPete
Hey guys, so I finally took the time to look at this.

I implemented a first version of this here: https://github.com/franglais125/apt-update-indicator/tree/terminal_output
I set the default to use gnome-terminal. You can fill the new option with `xterm -e`, no need for `-hold` as I don't exit after applying the updates.

Do you mind testing it? Suggestions are welcome.
To inst

[2017-01-11 22:49] lucatrv commented on #2
Seems to work to me! Only one doubt, once I applied the updates and pressed enter to close the terminal, I noticed that the package update notification icon was not reset immediately as I think it used to do previously, but after some time. Not sure though, and I need to wait for next updates available to double check...
Cheers!

[2017-01-12 02:42] franglais125 commented on #2
@lucatrv indeed, I tried to correct this problem, but so far no luck. In my tests, if you use xterm instead of gnome-terminal it works.
i.e. replace `gnome-terminal -x bash -c` with `xterm -e` in the options.

The problem is that gnome-terminal sends an exit signal and, hence, the indicator immediately refreshes (before the updates even began...). Then I have no way of triggering a refresh when ap

[2017-01-12 04:09] franglais125 commented on #2
FYI I implemented this in the master branch and submitted a new version to extensions.gnome.org

[2017-01-13 22:35] lucatrv commented on #2
I confirm it works as expected with xterm. I do not have enough insight into this to help you out with gnome-terminal, but have you tried to discuss the issue here?
[https://wiki.gnome.org/Apps/Terminal/ReportingBugs](https://wiki.gnome.org/Apps/Terminal/ReportingBugs)

Until the issue with gnome-terminal is fixed I would change the default terminal command into something like this: "xterm -fa mon

[2017-01-19 15:02] franglais125 commented on #2
@lucatrv thanks a lot for that suggestion, it looks pretty nice with those settings.
I'd make it default, I'm just hesitant about xterm's behaviour under Wayland. Do you know if there are any hiccups? My quick test showed that xterm runs under xwayland.

[2017-01-19 22:08] lucatrv commented on #2
After having used it for a few days, this is actually the best setting IMHO:
"xterm -fa monospace -fs 11 -maximized -e"
(monospace 11 is the default Gnome terminal font).

From what I know xterm should run fine under xwayland. If in future Debian defaults to Wayland, this setting could be quickly changed for instance to use wlterm:
[https://wayland.freedesktop.org/extras.html](https://wayland.free

[2017-01-19 22:37] lucatrv opened #3 "Last updates check time should be stored across sessions"
Hi, it appears apt-update-indicator is not storing the last updates check time across sessions. I would like to check updates once a day, and there seems to be no way to achieve that. With the default settings (60 min), updates are checked 1 hr after login and then again every 1 hr. If I set a longer time, for instance 720 min, updates are never checked (because I use a session usually for a few h

[2017-01-20 17:06] franglais125 commented on #3
Thank you, that is a great idea on how to implement it. I'll definitely look into it!

[2017-01-20 23:38] franglais125 commented on #2
Thanks, I think I will change the default to something like what you suggest.

As for wlterm, it seems it is not being maintained anymore - judging from its github page. Also, Debian doesn't seem to package it. If you happen to have more info on this (or something like this), I'd be interested! xterm will do it I guess, until something better takes its place.

I'll close this issue now! Thank you

[2017-01-20 23:38] #2 closed, assigned to nobody

[2017-01-21 17:50] franglais125 commented on #3
I just updated the master branch to implement your suggestion. Would you mind testing it?

[2017-01-21 22:31] lucatrv commented on #3
Sure I'll do it!

[2017-01-21 23:40] lucatrv opened #4 "Icons set does not comply with Gnome guidelines"
Hi, it would be nice to refine the icons set in order to improve compliance with the Gnome guidelines (see in particular "Color vs. symbolic icons"):
[https://developer.gnome.org/hig/stable/icons-and-artwork.html.en](https://developer.gnome.org/hig/stable/icons-and-artwork.html.en)

IMHO the status and sync icons should be "symbolic", while the updates notification icon could be kept colored to be

[2017-01-22 10:14] lucatrv commented on #3
It seems to work but with a glitch: the last update time is saved every time the update command is run, even when it was not successful. This can be reproduced for instance clicking on "cancel" when the root password is requested. The last update time should be saved only when the update command completes successfully (exit code "0").

[2017-01-22 15:40] franglais125 commented on #3
Indeed, error handling (i.e. exit status != 0) is not implemented at all. I'll open a new issue for that.

But can you confirm that the extension is correctly checking for updates across sessions, assuming the checks succeed?

[2017-01-22 15:44] franglais125 commented on #4
That's a nice set of suggestions!

I'll look into this as well. I'm travelling at the moment, so it might take some time.

Thanks for your attention to details!

[2017-01-22 16:33] franglais125 opened #5 "Check for errors in spawned processes"
Currently if a check for updates or upgrade process fails, the extension:
- updates the last check time anyway
- does not give any feedback related to the problem

Instead, the exit status of the spawned program should be checked to ensure it succeeded.

Thanks @lucatrv !

[2017-01-22 20:41] lucatrv commented on #3
Yes it works for me now, thanks!
Now maybe it would be possible to increase the default interval between update checks from 60 to something like 480 or 600 minutes or more (I set 1200, which is 20 hours). In this case the unit time could also be changed from minutes to hours.

[2017-01-22 20:51] lucatrv commented on #5
Maybe it would be useful to add an option like "Try again if unsuccessful / Interval before attempting (minutes, 0 to disable)", with default "60".

[2017-01-24 21:58] franglais125 opened #6 "Distinguish regular from urgent updates"
It would be nice to inform the user when an update is urgent.
Perhaps use a more obvious icon for instance.

[2017-01-24 22:02] franglais125 commented on #4
I think this is fixed in [2aceb9ee5523fcc7554c28a6bbb7fefabe07bd52]. The indicator now makes use of symbolic icons, except when there are updates available (so that it is more obvious that the user's attention is required).

I opened a new issue #6 for implementing the distinction between regular/urgent updates.

Thanks for your contribution!

[2017-01-24 22:02] #4 closed, assigned to nobody

[2017-01-24 22:12] franglais125 commented on #3
As of [788f2d519615729c9fbab623629afb5f2c8e0609], the setting now uses hours instead of minutes. The default value is 12 hours.
Thanks!

[2017-01-24 22:12] #3 closed, assigned to nobody

[2017-01-31 20:19] franglais125 opened #7 "Change default to xterm"
In the check-cmd entry field, change the custom command from gnome-terminal to xterm.

[2017-02-01 03:31] #7 closed, assigned to nobody

[2017-02-23 04:48] franglais125 opened #8 "Larger symbolic icon"
@lucatrv: thanks for your input.

It'd be nice to have an icon that is:
1) a bit larger
2) nicer

Tentative solution for 1)
https://github.com/franglais125/apt-update-indicator/tree/larger_icon

[2017-02-26 13:10] konkor opened #9 "Debian Jessie with backport repo enabled don't work well."
Debian Jessie with backport repository enabled for some applications (darktable, office) don't work well:
    The extension updates and marks all packages from the backport repo like regular updates not only packages installed from the backport repo, including latest kernel, newest and don't supported by my video card Nvidia drivers and much more.
    Regular updating from Synaptic or apt-get does

[2017-02-26 17:12] franglais125 commented on #9
Hi, thanks for reporting this.

I use Debian Jessie too, I use backports as well, but I don't see this issue. Couple of questions:
1) If I understand correctly, the extension is showing some packages from backports are being upgradable, while they shouldn't be. Is this correct?
2) What version of the extension are you running? This is in the Settings, in the "About" tab.
3) The extension uses `apt

[2017-02-26 17:51] konkor commented on #9
1. Yes, it shows all installed packages available in backports repo for me 229 today but i have already up to date system.
2. I installed from github/master today, settings shows 10 version.
3. I dont want to try ruin my system and install all from backports for example nvidia drivers. i'd not able to start system with nvidia driver from backports.

[2017-02-26 17:53] konkor commented on #9
Did u have enabled backports repo in ur system?
u can try add to /etc/apt/sources.list  `deb http://ftp.debian.org/debian jessie-backports main contrib non-free`

[2017-02-26 17:58] franglais125 commented on #9
Thanks for the answers.

Yes, I have backports enabled on my system, and I **use** them (mesa, kernel, libreoffice, etc.), so don't worry, I understand how it works.

As for point 3), `apt list --upgradable` won't damage your system, you don't even need to run that command as root (i.e. no `sudo`), it simply prints a list of packages that **can** be upgraded, it won't upgrade anything at all.

I w

[2017-02-26 18:02] konkor commented on #9
`$ apt list --upgradable
Listing... Done
autoconf/jessie-backports 2.69-10~bpo8+1 all [upgradable from: 2.69-8]
autopoint/jessie-backports 0.19.8.1-1~bpo8+1 all [upgradable from: 0.19.3-2]
bash-completion/jessie-backports 1:2.1-4.3~bpo8+1 all [upgradable from: 1:2.1-4]
ca-certificates-java/jessie-backports 20161107~bpo8+1 all [upgradable from: 20140324]
calibre/jessie-backports 2.75.1+dfsg-1~bpo8+

[2017-02-26 18:07] franglais125 commented on #9
Well, that indicates that for some reason your backports are marked as automatic updates. This problem is not due to the extension, but it surely sounds dangerous. Perhaps I can help you debug this?

1) Can you run `sudo apt update` (this is only to refresh the cache)? And the `apt list --upgradable` again, to see if the problem goes away.
2) Do you have anything in /etc/apt/preferences.d/ ? Any f

[2017-02-26 18:12] konkor commented on #9
see all packages from backports... but when i am running `# apt-get update` and reloging all this updates gone.
my /etc/apt/sources.list
[code]

[2017-02-26 18:16] franglais125 commented on #9
So the problem went away? All the updates are not showing anymore, or I'm misunderstanding?

I'll try your sources.list file, and see what happens for me.

[2017-02-26 18:25] franglais125 commented on #9
1) After using your sources, I can't reproduce the problem.
2) If you reload Gnome-Shell (Alt + F2 and `r`), is the indicator still showing all the updates?
3) To put multi-line code on github, you can use triple quotes: ```

**(triple quotes)**
some code
some more code
**(triple quotes)**

[code]

[2017-02-26 18:40] konkor commented on #9
Yes, after checkin updates in ur extension i have 200 updates and after restarting shell without running 'apt-get update' they appear again.
I think my problem is that i don't want update all packages from backports (only selected). So disabling backports in sources.list fix the problem.

[2017-02-26 18:52] franglais125 commented on #9
Sure, removing jessie-backports from sources.list will remove those updates, but still, this problem shouldn't happen. I have backports enabled and I don't see this.

The way backports are setup is so that you can enable them, and nothing gets updated, unless you specifically request it. Apparently you are not the only one this has happened to: http://unix.stackexchange.com/questions/263511/debian

[2017-02-26 18:57] konkor commented on #9
I think you have to reproduce this situation:
1. make clean install to virtualbox for example;
2. add backports to sources;
3. run and install some package from backports
`apt-get -t jessie-backports update`
`apt-get -t jessie-backports install darktable`

4. install ur extension and see what happends.

[2017-02-26 19:06] franglais125 commented on #9
I'm installing a clean Jessie on a VM. Will let you know what happens in ~1 hour.

[2017-02-26 19:10] konkor commented on #9
ty for the solution with priorities, i didn't try yet. it seems like `apt-get` has lower priority for backports by default and `apt` doesn't.

[2017-02-26 19:21] konkor commented on #9
my full /etc/apt folder if u are interesting is
https://www.dropbox.com/s/mssixj2kunt63ll/etc_apt_folder.tar.gz?dl=0
And sorry i just wanna help...

[2017-02-26 19:38] franglais125 commented on #9
1. I installed a new Jessie image on Virtualbox
2. Added backports to sources.list (I actually copied your sources.list file, to be sure we have the same thing installed).
3. I installed as you suggested: `apt-get -t jessie-backports update; apt-get -t jessie-backports install darktable`
4. I installed the extension, no updates are shown.

Sorry, but I can't reproduce the problem at all. Backports

[2017-02-26 19:38] franglais125 commented on #9
I'll take a look at your dropbox file, see if I can catch anything wrong there.

[2017-02-26 19:42] konkor commented on #9
i have gnome-extension project too. and i saw ur extension on unreviewed and interested. so i like the idea to use makefile to manual install.

[2017-02-26 19:43] franglais125 commented on #9
Yeah, the Makefile is really convenient. I took the idea from dash-to-dock, and also checked out your extension, which is really useful!

[2017-02-26 19:58] konkor commented on #9
i have tried `/etc/apt/preferences`
[code]

This works too.

[2017-02-26 20:12] franglais125 commented on #9
Yes, using pinning in `/etc/apt/preferences` will look like things are fixed, but something is up with your sources, I'd be careful, as you might be missing some updates.

I managed to reproduce your problem, but in a weird way. What i did was to remove the usual jessie sources, except for backports. It looks like your regular jessie (jessie, jessie/updates, etc) deb sources are not being used, fo

[2017-02-27 15:01] konkor commented on #9
here is my output:
[code]

[2017-02-27 17:25] franglais125 commented on #9
---------------------------------------------
Just to be clear: from what we have seen, the problem is not _caused_ by this extension. The extension is simply _showing_ that there is a problem with your apt. I'm mentioning this in case somebody else reads this issue, and thinks that this extension causes problems with apt.
The extension is only telling you the output of `apt list --upgradable`.

-

[2017-02-28 01:29] konkor commented on #9
i think u are right. It seems the problem is in me repos. Yesterday i saw the same issue even with /etc/apt/prefernces. I had 1 repo without gpg key installed (insync) after removing bcs i don't use it everyday and tried only someday. The issue with updates gone. I'll test a few days. If i'll not see this bug anymore i'll reply to u.
Sorry again for my broken system.

[2017-02-28 01:59] franglais125 commented on #9
Ah! Glad to hear it's gone, it's worrisome to have apt in a semi-broken state.
Let me know!

[2017-03-06 21:53] franglais125 commented on #9
@konkor any news on this? Not to rush you or anything, just curious :)

[2017-03-07 05:55] konkor commented on #9
Ohh, sorry. I just wanted to tell you. All fine! I don't see crazy updates anymore.

[2017-03-07 10:31] #9 closed, assigned to nobody

[2017-03-07 17:17] franglais125 commented on #9
Awesome! Thanks for closing this!

[2017-04-18 14:17] ghost opened #10 "Resize if no count shown"
When no count is shown on the panel, this applet leaves empty space, which typically isn't nice-looking. Please resize the applet when no count is given. Also, the applet seems to be a little lower than other applets. Perhaps it's smaller and has been resized down?

[2017-04-18 15:56] franglais125 commented on #10
Thanks for reporting this.

1) I'll try to see if I can easily remove the empty space you mention.

2) The applet is not really lower, the thing is the icon itself has extra blank space at the top. This makes it look small and off the center. You can have a look at it here: `/usr/share/icons/Adwaita/scalable/apps/system-software-install-symbolic/svg`. Issue #8 is similar.

[2017-04-18 16:09] ghost commented on #10
I'm using a custom-made icon theme, and I can change the icon. Thank you!

On Tue, Apr 18, 2017, 4:56 PM Fran Glais <notifications@github.com> wrote:

--

AK

[2017-04-19 20:17] franglais125 commented on #10
Hi, I think I fixed this in the master branch. Can you give it a try?

Also, wrt the icon size, can you post a screenshot? Just to make sure you don't see anything different to what I have.

Here is what my icons look like:
![screenshot from 2017-04-19 16-16-50](https://cloud.githubusercontent.com/assets/19195975/25200294/ce8902d6-251b-11e7-9715-e1e3c4736d64.png)

[2017-04-20 15:38] ghost commented on #10
Yup. It works out now. Thank you!

[2017-04-20 15:38] #10 closed, assigned to nobody

[2017-05-13 10:07] tobias-weiss opened #11 "Recheck repositories after aplied updates"
If would find it useful if as a last step of applied updates repositories are check again after applying updates as the number shown updates should go down to zero when update process is finished. So I  have to manually to recheck in order to get rid of the notification.

[2017-05-13 16:35] franglais125 commented on #11
Thanks for reporting this.

The indicator actually does check again after the upgrade command, the problem is not all methods report properly when they are done. Usually they report (return 0) right away, causing the indicator to check for updates again, before the upgrades where applied.

So... I am aware of the issue and I tried to fix it, the only way I found to make the notification go away pr

[2017-05-13 16:36] franglais125 commented on #11
![screenshot from 2017-05-13 12-35-43](https://cloud.githubusercontent.com/assets/19195975/26027253/cbcc4484-37d8-11e7-87c1-845de2c1d2f1.png)
![screenshot from 2017-05-13 12-35-37](https://cloud.githubusercontent.com/assets/19195975/26027254/cf895f9e-37d8-11e7-86f5-43fb1abd1cdc.png)

[2017-05-14 19:53] tobias-weiss commented on #11
Thank you for swift reply. I am using custom method.
Command to update packages was: pkexec apt uprade -y
Terminal to use was: sudo gnome-terminal -x -bash -c

I think the double rights elevation was the source of the misbehavior.
With the settings you posted the extension runs as desired.

Before the next update I will try to change to terminal to use again to gnome-terminal but without elevating

[2017-05-14 20:04] tobias-weiss commented on #11
Tried this with my second machine with custom settings:
sudo apt uprade -y
gnome-terminal -x -bash -c

After update with this setting the extension does not seem to get the proper return code, in consequence it does not reset the number of available updates.

In short: I have to stick to xterm then.

[2017-05-14 20:43] franglais125 commented on #11
Exactly, gnome-terminal immediately returns "success" as soon as it opens up, instead of waiting for the process it's executing to finish. I think there is an upstream bug somewhere about this, but I couldn't find it...

[2017-05-25 03:13] franglais125 commented on #11
@tobias-weiss I implemented a new way of applying the updates. It uses the `/usr/bin/gpk-update-viewer` binary. Fortunately it doesn't exit until it applies all the updates, so it will cleanly update the indicator!

If you can, please try it out and let me know how it goes. It depends on the gnome-packagekit package.

`sudo apt install gnome-packagekit` to use it!

[2017-05-26 19:23] franglais125 opened #12 "Code reorganization"
Hi @lucatrv, @konkor, @AravK and anyone else!

I just committed the last bit of a code reorganization I have been doing. You can find the changes here:
https://github.com/franglais125/apt-update-indicator/tree/reorganization. This separates the main file into smaller files and classes. Hopefully it will help with maintainability and extensibility.

I have implemented a new monitor that check for c

[2017-05-26 19:24] franglais125 commented on #11
This is fixed in a new branch I'll merge soon: https://github.com/franglais125/apt-update-indicator/tree/reorganization

[2017-05-26 20:17] franglais125 commented on #8
@lucatrv I found an easy fix for this... It's again int he reorganization branch.

Let me know what you think!

[2017-05-26 22:27] lucatrv commented on #12
Hi, I followed your instructions to install the reorganization branch, but it still shows version 13, is it normal?

Thanks
Luca

[2017-05-26 22:29] franglais125 commented on #12
Yes, sorry, I should have changed the version to -1 in the metadata.json.

I'll fix this before merging.

[2017-05-27 00:25] franglais125 commented on #12
I just pushed a small fix.

To update:
[code]

[2017-05-27 18:50] konkor commented on #12
Looks like all fine but i'm on Debian and updates aren't so frequent.

[2017-05-27 18:53] franglais125 commented on #12
Thanks for the feedback! I added the changes to master.

I'll wait a few days before uploading to extensions.gnome.org to see if anything else pops up.

[2017-05-27 21:52] lucatrv commented on #12
It seems to work fine for me as well (Debian 8)

[2017-05-27 21:53] franglais125 commented on #12
How is the icon size now? Did it improve? I made it 25% bigger.

[2017-05-27 21:57] ghost commented on #12
It works much better now. I was about to file a bug report because when I
manually update from a terminal, I need to manually click on update in the
menu to update it; I'm quite sure that didn't happen again. The icon size
is better, but I think instead of 25% 15-20% would have been better, to
match other panel items.

On Sat, May 27, 2017 at 10:53 PM Fran Glais <notifications@github.com>
wrote:

[2017-05-27 22:01] franglais125 commented on #12
@AravK Yeah, now the indicator will update itself every time the apt cache (or dpkg) is updated. This is not a CPU intensive task, it essentially simply runs `apt list --upgradable` in the background.

As for the icon size, we can easily change that. @lucatrv what do you think?

If you want to test a different size, you can simply modify this integer: https://github.com/franglais125/apt-update-ind

[2017-05-27 22:04] lucatrv commented on #8
The icon size looks good to me now

[2017-05-27 22:20] lucatrv commented on #12
The icon size looks good on my PC now with iconSize = 20, or even up to 22.
Thanks

[2017-05-28 14:33] lucatrv commented on #8
Hi, I noticed that the icon size is affected by the Fonts Scaling Factor (set in the Gnome Tweak Tool). On my PC I usually set it to 1.25, and the icon size looks good. However it is too big if I set the scaling factor to 1.0, or too small if I set it to 1.5. Looking at the code, I noticed the following line:
`iconSize = scaleFactor > 0 ? Math.round((iconSize) / scaleFactor) : iconSize;`
and thoug

[2017-05-28 16:06] franglais125 commented on #8
Hi! Thanks for pointing out the Font scaling...

The code that you see there is actually for the HiDPI scale factor, the one you find in the "Windows" section of the Tweak tool.

I'll look into what you reported, as if someone is using the font scaling, the indicator will (again) look small.

[2017-05-28 17:42] franglais125 commented on #8
I finally ended up reverting the larger icon size I was setting manually, and I now merged the branch with our own svg file, which is naturally bigger. Scaling should now work properly again.

I'll close this issue now!

[2017-05-28 17:42] #8 closed, assigned to nobody

[2017-05-29 05:05] franglais125 commented on #12
Thank you all for your feedback!

I just uploaded a new version to extensions.gnome.org. It will be ready to be updated once it passes review. You can of course install it from git if you prefer!

Cheers

[2017-05-29 05:05] #12 closed, assigned to nobody

[2017-05-29 05:06] franglais125 commented on #11
This was merged and released! Pending review on extensions.gnome.org.

Thanks!

[2017-05-29 05:06] #11 closed, assigned to nobody

[2017-05-30 17:46] hackel opened #13 "Listen for signal to update number of available packages"
I typically run apt updates from the CLI, and really only use this is a notifier.  I also use unattended-upgrades.  It would be nice if this extension could listen for the dbus signal emitted when an update completes (org.debian.apt.CacheChanged or org.freedesktop.PackageKit.UpdatesChanged?) and automatically update the number of installable packages (without performing an additional network updat

[2017-05-30 17:55] franglais125 commented on #13
Thanks for reporting this! I actually just implemented this feature (in a different way) last week. This is the main commit [99dd3bd336cf4279593e4bf6145d393f7548b847].

You can install and test this already if you install from master (version 14). I already submitted this to gnome and it's pending review (extensions.gnome.org/review).

[code]

[2017-05-30 18:02] franglais125 commented on #13
To make it more clear: upon modification of the apt cache (or the dpkg cache), the indicator simply looks for updates in the cache, not through the network, by running `apt list --upgradable`.

[2017-05-30 19:03] hackel commented on #13
Oh brilliant, I'll install this and test it out as soon as I actually have some new packages to upgrade!

[2017-05-30 19:22] franglais125 commented on #13
Let me know how it goes!

[2017-05-31 20:52] hackel commented on #13
It worked perfectly, thanks!  I do wonder, though, won't this run apt list --upgradable multiple times during a typical upgrade as individual cache files are updated?  Registering a dbus listener seems like it might be be better in that respect, but I'm not all that familiar with it so I'm not entirely sure.

[2017-05-31 20:56] franglais125 commented on #13
Indeed, this was my concern as well. I "solved" this by setting a timeout [1], so it will wait 10 seconds before actually running `apt list --upgradable`. The idea is that during many updates, in any 10 second-lapse another change will be made, so the timer will be reset to 10.

When you mentioned dbus, I immediately realized that that's the proper way of doing it, and tried to research a bit on i

[2017-06-01 23:04] hackel commented on #13
Ah, the timeout solution sounds fine, too.  I'm no expert at all.  I just found this file: /etc/apt/apt.conf.d/20dbus
`APT::Update::Post-Invoke-Success { "[ ! -f /var/run/dbus/system_bus_socket ] || /usr/bin/dbus-send --system --dest=org.debian.apt --type=signal /org/debian/apt org.debian.apt.CacheChanged || true"; };`

I started looking into https://wiki.gnome.org/Gjs/Examples/DBusClient as well,

[2017-06-11 22:54] franglais125 commented on #6
@lucatrv (or anyone else willing to help of course). A small favor to ask.

I've finally implemented this in https://github.com/franglais125/apt-update-indicator/tree/urgency

It is rather simple for now: it simply lists the urgent updates in red, instead of plain white font.
The icon is set to: `software-update-urgent-symbolic`, otherwise to `software-update-available-symbolic`.

1. I'm not sure

[2017-06-12 20:20] franglais125 commented on #6
I just improved the styling quite a bit, and reverted the change of icons.
- Even spacing allows me to put the version number in a nice column
- Color for urgent updates

![screenshot from 2017-06-12 15-46-41](https://user-images.githubusercontent.com/19195975/27053339-fe09169c-4f8a-11e7-8682-543255dccee9.png)

[2017-06-12 21:04] franglais125 commented on #6
I have merged this to master. The only thing I'm waiting for before closing this issue is to know what the output of `pkcon -p get-updates` is in Debian Jessie, to know whether Gnome 3.14 remains compatible.

[2017-06-12 21:28] lucatrv commented on #6
Hi, I confirm that it works on Debian Jessie, a part from even spacing, maybe this is due to the output of `pkcon -p get-updates`, here is an example (not a big deal however):

Status: 	Waiting in queue
Status: 	Starting
Status: 	Loading cache
Percentage:	0
Percentage:	100
Percentage:	0
Percentage:	50
Percentage:	100
Status: 	Querying
Status: 	Finished
Results:
Security     libmwaw-0.3-3-0.3.1-2+d

[2017-06-12 21:30] franglais125 commented on #6
Thanks a lot!

I actually reverted the `symbolic` icon thing. Which one do you think is better? I can always revert it back.

[2017-06-12 22:49] lucatrv commented on #6
Yes I know that I wrote [this](https://github.com/franglais125/apt-update-indicator/issues/4#issue-202347484)... but now I actually think that the `symbolic` icons look better

[2017-06-12 23:40] franglais125 commented on #6
Sounds good! Thank you for your feedback. I'm now using the `symbolic` icons.

I just submitted v15 to e.g.o.

[2017-06-12 23:40] #6 closed, assigned to nobody

[2017-06-29 05:05] lightonflux opened #14 "Visual glitch when scrolling"
Debian 9 with Gnome 3.22. Intel HD 4000 graphics.

For some reason i can't screenshot it. The glitch disappears when making a screenshot. May be the focus change.

https://vid.me/zQhs

If this is not caused by the extension please tell me who else to bother. :)

[2017-06-29 16:23] franglais125 commented on #14
Thanks a lot for your report!

I have actually experienced this myself very often when scrolling, quite annoying. Debian 9 with Gnome 3.22. Intel HD 3000 here.

I think this is some kind of upstream bug, with graphics not being properly updated. We probably need to file this upstream in the gnome bugzilla.

I have definitely seen this behavior in other applications like Synaptic and Rhythmbox, i.e

[2017-06-29 16:34] franglais125 commented on #14
Well, I fixed the problem by removing some padding from stylesheet.css. I still think the bug is somewhere upstream, as simply adding some padding triggers the visual glitch...

Anyway, I'll upload the fix soon!

[2017-06-29 18:55] franglais125 commented on #14
I included a fix in master [32c77b1480aa8693382385d9bda4663d97fa29c8].

Do you mind testing it to check that if fixes the issue for you?

[2017-06-29 18:58] franglais125 opened #15 "Add a blacklist to ignore some packages"
Feature request from e.g.o:

[2017-06-30 11:59] lightonflux commented on #14
Works. Glitch is gone, but looks a bit weird without padding left and right.

![bildschirmfoto von 2017-06-30 13-58-13](https://user-images.githubusercontent.com/1377943/27734678-4b2034aa-5d9c-11e7-83b5-a2737bd39307.png)

Edit: Any idea how to tackle the upstream bug?

[2017-06-30 13:21] franglais125 commented on #14
I included a few other changes as well. Are you running the master branch or did you just cherry-picked that commit?

Here is what it looks for me (running master)

![screenshot from 2017-06-30 09-17-49](https://user-images.githubusercontent.com/19195975/27737204-4af512f6-5d75-11e7-84c4-accc43906c41.png)

As for the tackling the bug upstream, I tried to search for something similar in bugzilla.gno

[2017-06-30 15:16] lightonflux commented on #14
Aha, i did not remove the old version before `make install`. Removed everything and ran it again, looks fine now.

[2017-06-30 20:41] franglais125 commented on #14
I just uploaded a new version to extensions.gnome.org. It will be available once it's reviewed! I'll close this issue now.

Thanks a lot for the report!

[2017-06-30 20:41] #14 closed, assigned to nobody

[2017-06-30 20:41] franglais125 commented on #15
This was added to master and uploaded to extensions.gnome.org!

[2017-06-30 20:41] #15 closed, assigned to nobody

[2017-07-01 15:45] lightonflux commented on #14
Is that no 16? Because it has that glitch. (removed git version before installing from extensions.gnome.org).

[2017-07-01 15:48] franglais125 commented on #14
No, it's version 17. I uploaded it, but it takes a while before it's reviewed and available through extensions.gnome.org.

Meanwhile, you can install from git master :), and you'll see that it's version 17.

Don't forget to `git fetch` before running `make install`!

[2017-07-01 15:49] franglais125 commented on #14
If you are curious, here is the list of extensions pending review: https://extensions.gnome.org/review/

[2017-07-02 19:32] franglais125 commented on #13
What distribution are you using? I'm on Debian Stretch and I don't have that apt conf file at all.

I checked for dbus signals when updating but I couldn't find anything useful. :(

[2017-08-03 16:58] HarlemSquirrel opened #16 "Check for updates without password prompt"
In Ubuntu 16.04 I can check for updates with `aptdcon --refresh` as a normal user. If I enter this as the "Custom command to check for updates" then Apt Update Indicator prompts for my password to run this command with pkexec.

I can install `packagekit-tools` and then the default `aptdcon --refresh` works without a password prompt.

It would be nice to have an option to run a custom update check

[2017-08-03 18:18] franglais125 commented on #16
Hi! Thanks for reporting this. I wasn't aware that some commands didn't require `pkexec`, hence why I included it by default.

Can you run the master branch to check if the issue is fixed? I included [5c29b2cea9bea3b38a6bd40cd50b60626c3eb10f] as a fix.

Cheers

[2017-08-03 18:30] HarlemSquirrel commented on #16
Sure, I'll check now!

[2017-08-03 18:37] HarlemSquirrel commented on #16
Yup, it's working beautifully!

[2017-08-03 18:43] franglais125 commented on #16
Sounds good! Thank you.

I'll close the issue now and upload a new version to e.g.o soon.

[2017-08-03 18:43] #16 closed, assigned to nobody

[2017-09-07 10:46] fi78 opened #17 "New in repository: Copy package name to clipboard when clicked"
The feature "new in repository" is handy. But atm you need to type the package name to use it. Not perfect for packages with version numbers and or long names.

So it would be handy if you clicked on a package name that its name gets pasted into your clipboard.

[2017-09-07 17:39] franglais125 commented on #17
That's a very neat idea! Thanks for the suggestion. I'll try to see if I find time to do it. PRs welcome of course!

[2017-09-08 08:17] fi78 commented on #17
Here another extension that has this feature: https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator

[2017-09-08 08:26] franglais125 commented on #17
Great, thanks! I'll paste here the link to the relevant function for future reference: https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator/blob/master/extension.js#L225

[2017-10-21 21:40] franglais125 commented on #17
@fi78 I just added support for this, for all lists of packages (new in repository, updates, obsolete, etc).

Would you mind testing it?

[2017-10-21 21:58] franglais125 commented on #17
Here: [b9876a930d85a9c9b098cfeeda07390293966be4]. Loving this by the way!

[2017-11-02 20:35] #17 closed, assigned to nobody

[2017-11-04 10:49] ghost opened #18 "How to configure"
I'm running Ubuntu Gnome and have "Software Updater" and "Software & Updates" installed. Usually I run "apt update" and "apt upgrade" to update the software. I've tried different settings under "Settings -> Advanced settings -> Update method" but when clicking "Check now" in the menu I always end up with the read warning triangle with an exclamation mark and "Error" on top the menu. Is there any l

[2017-11-06 09:28] fi78 commented on #17
Updated and tested. Works well. Did you change the entries to monospace as well?

[2017-11-07 09:46] orschiro opened #19 "Cannot apply updates"
Thank you for your extension!

When there are new updates, I click on "Apply Updates" but all it does is opening "Software" with the information that all software is up to date.

I tested this on Ubuntu 17.10.

![image](https://user-images.githubusercontent.com/170947/32487050-cc807538-c3a8-11e7-97f4-4d7f9ecc5dc6.png)

![image](https://user-images.githubusercontent.com/170947/32487084-e6c5a526-c3a

[2017-11-07 09:54] franglais125 commented on #19
You need to select your preferred update methid in the settings. I don't have my laptop now, but the options are something like:
- package updater
- software centre
- custom (and you can go to advanced mode and set a custom command)

Let me know how it goes!

[2017-11-07 09:56] orschiro commented on #19
@franglais125 that was fast! Thanks so much.

I think that will solve it. :-)

If not, I will reopen it.

[2017-11-07 09:56] #19 closed, assigned to nobody

[2017-11-07 09:58] franglais125 commented on #18
Hmm, could you share a screenshot of your settings?

Otherwise, you can look for errors in the logs:

`sudo journalctl /usr/bin/gnome-shell -f`

[2017-11-09 11:02] ghost commented on #18
I've attached a screenshot of my settings.

On tis, 7 nov, 2017 at 10:58 , Fran Glais <notifications@github.com>
wrote:

[2017-11-15 13:20] orschiro opened #20 "Apply updates not working on Ubuntu 18.04"
Clicking on `Apply Updates` doesn't have any action on Ubuntu 18.04.

Settings > Advanced > is set to Update-manager (Ubuntu only)

[2017-11-20 00:06] franglais125 commented on #20
Thanks a lot for opening this issue. I'll try to investigate this soon! Any new info on this would be appreciated.

Just to be sure, do you see any errors in the logs: `sudo journalctl /usr/bin/gnome-shell` ?

[2017-11-20 09:06] orschiro commented on #20
Dear @franglais125,

Thank you so much for looking into this!

I hope this output is of use:

[code]

[2017-11-22 15:22] orschiro opened #21 "No Internet"
The extension is telling me "No Internet" despite being connected.

"Check now" doesn't resolve it. Also tried disabling and re-enabling the extension but no luck.

Tested on Ubuntu 18.04.

![image](https://user-images.githubusercontent.com/170947/33134837-0c0266d6-cfa1-11e7-89c3-e05da028ecfb.png)

![screenshot from 2017-11-22 16-20-51](https://user-images.githubusercontent.com/170947/33134899-397

[2017-11-27 15:09] orschiro commented on #20
Found a workaround. The custom method is working!

![image](https://user-images.githubusercontent.com/170947/33273336-4882541e-d38d-11e7-8b23-0a2427cc148a.png)

[2018-01-18 20:45] Shemzone commented on #20
Hi @franglais125,
I confirm the issue also on Ubuntu 17.10
The workaround from @orschiro works fine

[2018-01-19 14:05] franglais125 commented on #20
Thanks for confirming this bug, and sorry I couldn't address this yet.

Can you perhaps confirm for me what the command for the "Update Manager" on Ubuntu actually is?

This extension assumes the binary is at `/usr/bin/update-manager`, but apparently this is failing.

[2018-01-19 14:12] orschiro commented on #20
Not with Ubuntu at the moment, @Shemzone can you check?

[2018-01-19 15:22] Shemzone commented on #20
@orschiro and @franglais125 , I can't verify right now, I'll check in a few hours

[2018-01-19 17:18] Shemzone commented on #20
@franglais125 and @orschiro, update-manager is located at the right place.
The commands are described at [http://manpages.ubuntu.com/manpages/precise/man8/update-manager.8.html](http://manpages.ubuntu.com/manpages/precise/man8/update-manager.8.html)
Wha do you want I do now?

[2018-01-19 21:33] franglais125 commented on #20
I guess i'll have to test it myself at some point. Just to be sure, can you run `/usr/bin/update-manager` in a terminal and confirm that it works?

[2018-02-06 22:26] ghost commented on #18
Had the same problem on Ubuntu Gnome 16.04.
packagekit-tools needs to be installed since the default command to check for updates is pkcon refresh.
"sudo apt install packagekit-tools" will install pkcon and the extension should work.

[2018-04-17 11:03] SammyKat opened #22 "Auto-Install"
FR - Include the possibility of automatically triggering the update, only requesting sudo password when requested by the update propgram (apt, aptitude, etc)  I'm a sys admin, not a dev, but to me it seems like it would be a patter of checking the auto setting after new updates are available, and trigger (or not) the update module. AptX will handle the rest.

Sorry if I said something dumb

[2018-07-10 08:26] rypz79 commented on #20
@franglais125 yes that what I do. Open terminal->sudo apt upgrade. Unfortunately the extension can only updates with the GNOME software manager. Is there a fix/workaround for that ?

[2018-07-18 20:49] morganhoward commented on #21
@orschiro were you able to fix this?  if so, i'm interested in how you did.

[2018-07-19 09:07] orschiro commented on #21
Unfortunately not. I switched to Fedora.

[2019-04-05 19:51] bdaase opened #23 "No icon when no updates are available"
I have set "Always show the indicator" to "true".
Now, when there are no updates available, the tray icon is invisible, but I can properly click it, see

![Screenshot from 2019-04-05 21-46-59](https://user-images.githubusercontent.com/24682367/55652711-9ed26e00-57ec-11e9-99e2-5927914e21cb.png)

If there are updates, everything is fine, I have an icon and the correct number.

OS: Ubuntu 19.04
DE: G

[2019-06-10 11:58] HanifCarroll commented on #20
I'm on 19.04 and the indicator would always say I have 2 pending updates for gonome-shell and gnome-shell-common, I believe.  When I would click apply updates, it would go through the process, but the notifications remained.  After I switched to the method from @orschiro, though, the updates actually seemed to happen.

[2019-06-18 15:43] Etamuk commented on #23
I can confirm this. On my computer there is also no icon. Same as above.

OS: Ubuntu 19.04 (up to date)
DE: Gnome 3.32.1

[2019-07-18 18:58] pigsflew commented on #20
I'm not 100% sure this is the same issue, but it looks like update-manager on Ubuntu uses phased updates, while they left apt/apt-get/synaptic alone for powerusers to always pull the latest.

See [this askubuntu post](https://askubuntu.com/questions/369722/update-manager-does-not-show-all-updates#369769)

I don't know how to fetch the phased update list (or filter them out of the apt list) but tha

[2019-07-22 02:59] maksim-pinguin commented on #23
Same here

OS: Manjaro Linux 18.0.4 (up to date)
DE: Gnome 3.32.2

![Screenshot from 2019-07-22 04-55-33](https://user-images.githubusercontent.com/33628723/61603335-748eaa00-ac3d-11e9-9d5a-321cbdfc7097.png)

[2019-10-05 11:58] HamburgerJungeJr commented on #23
I created a fork and fixed the problem.
https://extensions.gnome.org/extension/2197/new-apt-update-indicator/

[2019-10-19 19:05] TheSpartaPT opened #25 "Usage of object.actor is deprecated"
Your extension is spamming this issue title to the gnome-shell journal
Check it like this:
[code]

I fixed it by deleting the extension, cloning the repo, deleting all the references in your code to the property `.actor` everywhere and then installed it

so for example on indicator.js:99 this:
[code]
became this:
[code]

seems to have fixed it, idk if that's the best or the only solution to the pr

[2019-10-19 19:09] TheSpartaPT commented on #25
forgot to mention, I'm on gnome-shell v3.34.1

[2019-11-21 21:17] mohegan opened #27 "Lock screen issue"
With the app-update-indictator enabled, the lock screen in gnome-shell doesn't work correctly. The screen doesn't switch off and I can't connect to unlock the screen (no user icon in the lock screen).
If I disabled the extension, the lock screen works well.

I have a netbook computer with an external screen.

[2019-12-23 01:39] Positron11 opened #28 "Icon Not Showing"
The icon doesn't show in the top bar when all packages are up to date, but there is still a small clickable area that shows the indicator menu, so it's not completely gone.
Running Gnome 3.34.2.

[2020-01-03 05:12] PHLAK commented on #23
Thanks @HamburgerJungeJr, any way you can PR this back to this repo?

[2020-01-03 13:44] brenard opened #29 "Do not warn about hold packages"
Could you please add an option to ignore package marked as hold ? This APT feature is useful to avoid upgrade that we don't want. If this choice has been done by user, I think an extension like this one could ignore this upgrade (or offer a solution to ignore it).

Thanks for this great extension !

[2020-01-14 04:49] #28 closed, assigned to nobody

[2020-04-20 01:13] yuriw opened #30 "Question"
First of all - great extension !

Question 1 - I see Residual Config Files.  How can then be cleaned?

Question 2
I usually use `sudo apt-get -y update &&  sudo apt-get -y upgrade &&  sudo apt-get autoclean &&  sudo apt-get -y autoremove`
Can this extension be set up to do this ?

Thx

[2020-04-20 02:07] franglais125 commented on #30
You will have to `apt purge pkgname` each one of them, even if they are uninstalled. `apt` will then delete residuals. You can do it like this:

`dpkg -l | grep '^rc'| awk '{print $2}' | xargs sudo apt purge`

Myself, I usually simply `purge` packages, I don't `remove` them.

Sure thing. Perhaps what I can recommend is that you save this as a script somewhere, and then you simply point the extensi

[2020-04-20 02:11] franglais125 commented on #23
@HamburgerJungeJr thanks for the fork and mentioning :)

I don't have much time to maintain this, but would you mind pointing me to the fix so I can include it here?

Cheers!
Fran

[2020-04-20 02:12] franglais125 commented on #27
Hmm, perhaps this is an incompatibility with newer version of Gnome. I need to port the extension to anything above 3.30. What version are you running?

[2020-04-20 02:12] franglais125 commented on #29
I'll look into it, but I don't know how long it could take. If something can propose a patch, that would be great too!

[2020-04-20 02:14] franglais125 commented on #20
@pigsflew that's a good point. Anyone else still experiencing this? I know it's been a while..

[2020-04-20 02:15] franglais125 commented on #25
Indeed, I need to update the extension to support newer version of Gnome! Hopefully I can try this in the next few weeks/months. Patches welcome.

[2020-04-20 12:30] mohegan commented on #27
It works now with gnome 3.36 but I have a bug with the default icon. I have a red icon instead of a software icon (see the attach file). The others icons work great (actualisation, updates available).

You use "apt-update-indicator-symbolic" but I can't find this icon (in /usr/share/icons/Adwaita). I think the replacement icon is "system-software-install-symbolic". I change manually the indicator.

[2020-04-20 12:51] yuriw commented on #30
@franglais125

clear on #1 thx! ( although it'd be nice to have a way to do it via the app )

on #2 - How do I "point the extension to the script" ?  Example would be useful.

[2020-04-20 13:52] franglais125 commented on #27
What version are you using? If you have it running on 3.36, I assume you are installing from `git`, in which case the icon the extension uses is actually `package-x-generic-symbolic`.

Would you mind perhaps running the latest git code?

[2020-04-20 14:22] franglais125 commented on #30
1. Agreed, it would be nice. Perhaps some time in the future I can work on a "Clean packages" button.

2. *Script, as you proposed*
- Put your script in, say `my_apt_script.sh`:
[code]

- Put it in `/usr/bin`, make sure you have the proper permissions set up.

[code]
- In the settings, "Custom command to check for updates", now put "my_apt_script.sh".

- Now, I've used `pkexec` in the script above

[2020-04-20 14:28] franglais125 commented on #29
By the way, this is in a way already available as a setting, if you include the package name in the "Ignore" list. Would that be enough?

[2020-04-20 14:29] mohegan commented on #27
I have tested the git repository and every is fine. Maybe, you can update your extension in extensions.gnome.org

Good Job !

[2020-04-20 14:31] yuriw commented on #30
@franglais125 thx for details, I wanted to improve my packages' knowledge, and this is the step to the right direction :) (will try and it will keep me busy)

Nore: I see `dangerous` note and hmm...

On `pkexec` I never used it.  Bu I have `sudo` enabled not to ask for password, will it work ?

[2020-04-22 05:56] GAJansen opened #31 "startup error version 21"
Until version 20 everything runs OK. After updating to version 21, the indicator icon no longer appears.
GNOME Tweaks (extensions) shows a warning triangle saying 'error laoding extension,' and the Gnome extension website also indicates an error (apparently clickable, but clicking on 'error' does not do anything for me (see screenshot below).

![Selection_431](https://user-images.githubusercontent

[2020-04-22 15:24] franglais125 commented on #31
Thank you for the report. What version of Gnome are you running?

Do you see any specific error in `sudo journalctl /usr/bin/gnome-shell`?

[2020-04-22 15:25] franglais125 commented on #27
v21 was posted yesterday. Cheers!

[2020-04-22 15:25] #27 closed, assigned to nobody

[2020-04-22 15:26] franglais125 commented on #23
A new version was uploaded to extensions.gnome.org. Let me know whether the problem is still present. You can reopen this issue then.

[2020-04-22 15:26] #23 closed, assigned to nobody

[2020-04-22 15:26] franglais125 commented on #25
Fixed on v21. Uploaded to extensions.gnome.org. Cheers!

[2020-04-22 15:26] #25 closed, assigned to nobody

[2020-04-22 15:27] mohegan commented on #27
Thanks. It works great !

[2020-04-22 15:27] franglais125 commented on #29
I'll close this bug, as the functionality can be achieved by adding the held package to the ignore list in the settings. Cheers!

[2020-04-22 15:28] franglais125 commented on #21
Anyone else still experiencing this?

[2020-04-22 15:34] brenard commented on #29
Sorry for the late reply. For me, it's not the same functionality: the marking of packages is a native functionality of APT: all APT "client" respect it and by implementing such marking, we ensures that a package will not be updated automatically regardless of the APT client used. The possibility of ignoring a package offered by this extension is only effective within the extension.

I will take a

[2020-04-22 15:53] GAJansen commented on #31
Hi Fran,

I am running GNOME 3.28.2

I have attached part of today's journalctl from /usr/bin/gnome-shell, I
hope you can pick out some warnings / messages that may help to solve the
issue.

If you need more info, please let me know.

Best regards,

Gerbert

On Wed, Apr 22, 2020 at 5:24 PM Fran Glais <notifications@github.com> wrote:

apr 22 07:29:29 GJcompuDO755Ub org.gnome.Shell.desktop[3137]: #

[2020-04-22 15:58] franglais125 commented on #31
Great, thank you for the information. I might need to remove 3.28 from the compatibility list for the version (but I will upload a new one so that this works for you).

Would you mind rechecking the log? The relevant lines for me are incomplete:

[code]

[2020-04-22 16:02] franglais125 commented on #29
Oh, I see. You want for the package to not be upgraded. I thought you were asking about the extension not notifying the user about a possible upgrade (which is being held).

As for not performing the actual upgrade, this is not actually handled by the extension. When "applying updates", all the extension does is redirect the user to a specified command (by default this is handled by opening Gnome

[2020-04-22 16:04] brenard commented on #29
It's could easily be done by modify _get-updates.sh_ : Just use the following command to list package :

`aptitude search -q --disable-columns '~Uh' -F "%p|%V"|sed 's/|/\t/g'`

__Note :__ I do not find a way to filter it using `apt list` command but a message indicate :
`WARNING: apt does not have a stable CLI interface. Use with caution in scripts.`

[2020-04-22 16:19] brenard commented on #29
Not really. I will use an example to explain my problem. I use an old software written in Python which uses a library (_python-vte_) which is no longer available in Debian and which is therefore compatible only with an old version of the underlying lib (_libvte9_). To prevent _apt_ commands from upgrading this library, I marked this package as hold (by using `apt-mark hold libvte9`).

However, thi

[2020-04-22 16:31] franglais125 commented on #29
This is what the ignore list is for. It will not tell you about packages that you add there, for whatever reason.

![Screenshot from 2020-04-22 12-30-41](https://user-images.githubusercontent.com/19195975/80008042-24c36480-8495-11ea-94aa-b3d2f071593d.png)

[2020-04-22 16:42] brenard commented on #29
Yes, it already tries this functionality and it works, but I have to maintain this list manually when I have already blocked the version of this package using the standard method of APT. It's would be great that this extension handle this standard method.

[2020-04-22 16:51] franglais125 commented on #29
I see, great! It's clear now. I'll look into it when I find some time.

[2020-04-22 21:15] franglais125 commented on #31
I inactivated v21, which caused the issue.

You can uninstall and reinstall from extensions.gnome.org, the error should now go away.

[2020-04-22 21:25] PHLAK commented on #23
This appears to be working correctly now.

![image](https://user-images.githubusercontent.com/53531/80035560-167d4480-84a5-11ea-8a92-d230f38fa94f.png)

[2020-04-22 21:28] PHLAK commented on #30
I'd recommend using `/usr/local/bin` for non-system binaries.

See: https://unix.stackexchange.com/a/8658 and https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard

[2020-04-22 22:02] franglais125 commented on #30
Good point!

[2020-04-22 22:11] yuriw commented on #30
@franglais125 @PHLAK cool thx !
I got all setup, so itching to see new updates available to test :)

[2020-04-23 07:09] GAJansen commented on #31
Hi Fran,

I have attached today's log, and as far as I can see no lines have been
truncated, so I hope you will find everything you need in order to maybe
resolve the issue.
Again, if you need additional information please let me know.

On Wed, Apr 22, 2020 at 5:59 PM Fran Glais <notifications@github.com> wrote:

apr 23 08:01:08 GJcompuDO755Ub org.gnome.Shell.desktop[2283]: glamor: EGL version 1.5

[2020-04-23 20:12] yuriw commented on #30
@franglais125 Worked great !
Thx

My task bar icon become red now, is it expected?

[2020-04-23 20:48] franglais125 commented on #30
Can you send me a screenshot of that?

[2020-04-23 20:50] yuriw commented on #30
![image](https://user-images.githubusercontent.com/3876474/80148130-6faeac00-8569-11ea-9637-97febf465f44.png)

@franglais125

It was not like that before

[2020-04-23 21:16] franglais125 commented on #30
It looks to me like a broken icon...

[2020-04-24 14:23] brenard commented on #29
Do you want a _pull-request_ for my [solution](https://github.com/franglais125/apt-update-indicator/issues/29#issuecomment-617872506) ?

[2020-04-24 15:05] franglais125 commented on #29
Actually, I don't want the extension to depend on `aptitude`.

[2020-04-24 16:31] yuriw commented on #30
@franglais125 and the icon is back to normal today ! FYI

[2020-04-25 00:37] franglais125 commented on #29
Apparently we can use `apt-mark showhold`. What would the output of that be on your system?

[2020-04-25 11:10] brenard commented on #29
`apt-mark showhold` just return the name of hold packages separated by line breaks.

See above for a working solution using only `apt-list` and `apt-mark` :

[code]

[2020-05-09 12:33] tmhall99 commented on #20
I'm using the latest version of the extension on a fresh install of 20.04 and have the issue. When I click "Apply Updates" the software updater runs and says I'm up to date, but I still have these notifications.
![Screenshot from 2020-05-09 07-31-20](https://user-images.githubusercontent.com/31667058/81473875-52afe500-91c7-11ea-9bb1-6e613c3478d5.png)

[2020-08-11 16:51] MandiYang opened #33 "can't uninstall"
I can't not uninstall apt-update-indicator by software-center.

[2021-03-27 22:33] mastoj opened #35 "Only works for a couple of minutes"
For some reason the extension ends up in some kind of error state after a couple of minutes or so. The top bar icon is changed to a warning signal and when I click on it the top message says error:

![image](https://user-images.githubusercontent.com/501424/112736697-e9f36780-8f54-11eb-85b2-8a0e43f137d7.png)

I'm on pop os if that has something to say.

[2021-04-26 18:57] Thatoo commented on #35
Same here

[2021-05-07 10:01] Cantello commented on #35
Same here, Pop!_OS 20.10, no relevant info in the logs as far as I can see.

[2021-08-14 23:25] masseysan opened #37 "Error when running in PopOS"
When attempting to run the extension after installing on PopOS, "Error" is reported by the extension and the icon turns into a warning indicator.

[2021-08-14 23:26] masseysan commented on #37
Installing "packagekit-tools" resolved the issue for me.
"sudo apt install packagekit-tools"

[2021-08-14 23:26] #37 closed, assigned to nobody

[2021-09-28 03:48] callum-playside commented on #33
I also cant lol, doesnt give me much confidence if this hasnt been respodned to yet :s

[2021-10-06 10:28] luixal opened #38 "Not compatible with new version?"
Hi,

Just updated to gnome 40.4 and it seems this extension is no longer compatible. Any chance it gets updated?

It seems some property is no longer supported:

[code]

Thanks!

[2021-11-15 08:26] Preppyprep opened #40 "Shows error when I click on apply updates or check now."
It's exactly what the title says. Here's a screenshot:
![Screenshot from 2021-11-15 13-55-38](https://user-images.githubusercontent.com/69249209/141747440-63845a4b-4c40-41e4-b56e-e5ff237d8d7a.png)

[2022-01-24 18:02] rayfield opened #42 "Does in my session"
My session goes haywire basically every other time I start(ed), closes several windows and corrupts the display. A shame cause it's potentially a very useful thing to have.

[2022-06-12 10:12] mudongliang opened #44 "Oudated issue in GNOME 42.2"

[2022-07-14 16:45] yuriw opened #45 "Can this extension install on Ubuntu 22.04 and GNOME Shell 42.2 ? <eom>"